c TP2 Exercice Licorne
c
c 1 mythique, 2 mortel, 3 mammifere, 4 corne, 5 magique
c nbVariables nbClauses
c une ligne termine toujours par ZERO !
c
c Corne ? introduit -4, on a bien UNsatisfiable, donc par l absurde, elle a une corne
c Corne ? mais si on met 4, c est bien SATisfiable
c
c Mythique ? avec -1 ou 1, c'est SATisfiable, donc elle peut etre Mythique ou pas
c     -1 2 3 4 5 0   VS   1 -2 -3 4 5 0
c
c
p cnf 5 7
-1 -2 0
1 3 0
1 2 0
4 -3 0
4 2 0
-4 5 0
1 0